@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
*{
    font-family: 'Noto Sans', sans-serif;
}
html{
    scrollbar-width: none;
}

.google-button{
    width: 100%;
    margin-top: 10px;;
}

.rounded-xl {
    border-radius: 10%;
}

.none-decorate{
    text-decoration: none;
    color:#b6c6e3;

}
.watchlist-button{
    cursor: pointer;
}
.text-small{
    font-size: smaller;
    font-weight: 600;
}
.custom-hr{
    border-top: 1px solid rgb(133, 133, 133);
}
.font-orange{
    color: #e03030;
}
.font-green{
    color: rgb(44, 194, 44)
}
.container-max{
    width: 90vw;;
}
.widget{
    min-height: 40vh;;
}
.min-hw-100{
    min-height: 80vh;
    min-width: 100vw;;
}
.graphWrapper-100{
    min-height: 100vh;
    max-height: 100vh;
    max-width: 100vw;
    min-width: 100vw;
}
.customColumn{
    height: 33vh;
}
.seperator{
    color: rgb(224, 0, 0);
}